.form {
  width: 80%;
  margin: 0 auto;
}

.label,

.input {
  /* In order to define widths */
  display: inline-block;
  width: 100%;
}

.select {
  width: 100%;
}
.label {
  width: 100%;
  /* Positions the label text beside the input */
  text-align: middle;
}

.label+.input {
  width: 30%;
  /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
  margin: 0 30% 0 4%;
}


/* Only the submit button is matched by this selector,
       but to be sure you could use an id or class for that button */

.input+.input {
  float: right;
}