html,
body {
    /* width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    font-size: 10px;
    font-family: Roboto, sans-serif; */
    font-size: 10px;
    font-family: Poppins,sans-serif;
}
body > button {
    color: #c3b5b5;
    border: 1px solid #c3b5b5;
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	font-size: 1.2rem;
}

/* #__next {
    position: relative;
    width: 100%;
    height: 100%;
} */

