html,
body {
    /* width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
    font-size: 10px;
    font-family: Roboto, sans-serif; */
}
a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* #__next {
    position: relative;
    width: 100%;
    height: 100%;
} */
